.movieDetails {
  max-width: 100%;
  width: 100%;
  height: auto;
  position: relative;
}

.bgMovie {
  width: 100%;
  height: auto;
  position: relative;
}

.imgBg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  -webkit-mask-image: linear-gradient(to top, transparent 10%, black 100%);
}

.poster {
  width: 150px;
  max-height: 200px;
  border-radius: 5px;
  margin-right: 50px;
}
.movieDetailInfo {
  display: flex;
  justify-content: center;
  color: white;
}

.detailsArea {
}

.title {
  color: white;
}

.detailsArea button {
  background-color: #f36f45;
  margin-top: 1rem;
  padding: 0.6rem 1.4rem;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.detailsArea button:hover {
  background-color: #ef5a2d;
  transition: 400ms;
  color: white;
}

.detailsArea span {
  border: 1px solid white;
  padding: 0.6rem 1.4rem;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 2rem;
  transition: 400ms;
  cursor: pointer;
}

.detailsArea span:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: black;
}

.info {
  margin-top: 1rem;
}

.overview {
  max-width: 400px;
  color: rgb(215, 212, 212);
  margin-top: 0.5rem;
  line-height: 1.3rem;
}
